<div class="container full-height d-flex flex-column" >
  <div>
    <header class="pageHeader">
      <h3 class="float-left">My Groups</h3>
      <button *ngIf="groups.length < 1" type="button" class="btn btn-primary float-right" data-toggle="modal" (click)="addGroup()">Add Group</button>
    </header>
  </div>
  <div class="reduced-font d-flex flex-column flex-grow-1" [@fadeInOut] *ngIf="groups.length > 0" >
    <div style="padding-top: 15px">
      <div class="float-left">
        <h4>{{ groups[0].name }}</h4>
        <h6>Group ID: {{ groups[0].id }}</h6>
      </div>
    </div>
    <div style="padding-top: 2px">
      <button *ngIf="!viewPlayerToggle" type="button" class="btn-sm btn btn-primary float-left" (click)="togglePlayers()" id="btnViewPlayers">View Players</button>
      <button *ngIf="viewPlayerToggle" type="button" class="btn-sm btn btn-primary float-left" (click)="togglePlayers()" id="btnHidePlayers">Hide Players</button>
      <button *ngIf="viewPlayerToggle" type="button" class="btn-sm btn btn-primary float-right" data-toggle="modal" (click)="addPlayer()" id="btnAddPlayer">New Player</button>
    </div>
    <div *ngIf="viewPlayerToggle && groups.length > 0" [@fadeInOut] class="d-flex flex-column flex-fill" style="padding-top: 10px;">
      
      <ag-grid-angular style="width: 100%; height:100%;"
                       class="ag-theme-alpine"
                       [rowData]="rowData"
                       [columnDefs]="columnDefs"
                       [defaultColDef]="defaultColDef"
                       (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
    <div *ngIf="viewPlayerToggle && groups.length < 1">
      <h3>No players available</h3>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #groupModal="bs-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>New Group</h3>
      </div>
      <div class="modal-body">
        <form *ngIf="formResetToggle" name="groupEditorForm" #f="ngForm" (ngSubmit)="saveGroup()" novalidate>
          <div class="form-group">
            <label for="groupName">Group Name</label>
            <input class="form-control" type="text" id="groupName" name="groupName"placeholder="Enter Group Name" [(ngModel)]="groupEdit.name" #groupName="ngModel" required
                   [ngClass]="{'is-valid': f.submitted && groupName.valid, 'is-invalid' : f.submitted && !groupName.valid}"/>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary float-left" [disabled]="!f.valid">Save</button>
            <button type="button" class="btn btn-secondary float-right" (click)="cancelGroup()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #playerModal="bs-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>New Player</h3>
      </div>
      <div class="modal-body">
        <form *ngIf="formResetToggle" name="playerEditorForm" #f="ngForm" (ngSubmit)="savePlayer()" novalidate>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="playerFirst">First Name</label>
                <input class="form-control" type="text" id="playerFirst" name="playerFirst" placeholder="Enter First Name" [(ngModel)]="playerEdit.firstName" #playerFirst="ngModel" required
                       [ngClass]="{'is-valid': f.submitted && playerFirst.valid, 'is-invalid' : f.submitted && !playerFirst.valid}"/>
              </div>
              <div class="col">
                <label for="playerLast">Last Name</label>
                <input class="form-control" type="text" id="playerLast" name="playerLast" placeholder="Enter Last Name" [(ngModel)]="playerEdit.lastName" #playerLast="ngModel" required
                       [ngClass]="{'is-valid': f.submitted && playerLast.valid, 'is-invalid' : f.submitted && !playerLast.valid}"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="playerNick">Nickname</label>
            <input class="form-control" type="text" id="playerNick" name="playerNick" placeholder="Enter Nickname" [(ngModel)]="playerEdit.nickname" #playerNick="ngModel" />
          </div>
          <div class="form-group">
            <label for="playerEmail">Email</label>
            <input class="form-control" type="email" id="playerEmail" name="playerEmail" placeholder="Enter Email" [(ngModel)]="playerEdit.email" #playerEmail="ngModel" required [email]="true"
                   [ngClass]="{'is-valid': f.submitted && playerLast.valid, 'is-invalid' : f.submitted && !playerLast.valid}"/>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary float-left" [disabled]="!f.valid" id="btnSavePlayer">Save</button>
            <button type="button" class="btn btn-secondary float-right" (click)="cancelPlayer()" id="btnCancelPlayer">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
