<div class="container full-height d-flex flex-column">
  <div>
    <header class="pageHeader">
      <h3 class="float-left">My Games </h3>
      <button *ngIf="open.id == 0" type="button" class="btn btn-primary float-right" data-toggle="modal" (click)="addGame()" [@fadeInOut]>New Game</button>
    </header>
  </div>

  <div *ngIf="open.id != 0" style="padding-top: 2px;" [@fadeInOut] class="d-flex flex-column flex-grow-1 reduced-font">
    <app-current-game [openFromParent]="open" [playerScoresFromParent]="playerScores" [groupsFromParent]="groups" (openToParent)="gameClosed($event)" class="d-flex flex-column flex-grow-1 reduced-font"></app-current-game>
  </div>

  <div *ngIf="closed.length > 0 && open.id == 0" class="reduced-font d-flex flex-column flex-fill" [@fadeInOut] [ngStyle]="{'padding-top': open.id === 0 ? '10px' : '0px'}">
    <app-past-games class="reduced-font d-flex flex-column flex-fill" [pastGamesFromParent]="closed" ></app-past-games>
  </div>
</div>

<div class="modal fade" bsModal #gameModal="bs-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>New Game</h3>
      </div>
      <div class="modal-body">
        <form *ngIf="formResetToggle" name="gameEditorForm" #f="ngForm" (ngSubmit)="saveGame()" novalidate>
          <div class="form-group">
            <label for="gameLocation">Location</label>
            <input class="form-control" type="text" id="gameLocation" name="gameLocation" placeholder="Enter Location" [(ngModel)]="gameEdit.location" #gameLocation="ngModel" required
                   [ngClass]="{'is-valid': f.submitted && gameLocation.valid, 'is-invalid' : f.submitted && !gameLocation.valid}"/>
          </div>
          <div class="form-group">
            <label for="gameDate">Date</label>
            <input class="form-control" type="datetime-local" id="gameDate" name="gameDate" [(ngModel)]="gameEdit.date" #gameDate="ngModel" required
                   [ngClass]="{'is-valid': f.submitted && gameDate.valid, 'is-invalid' : f.submitted && !gameDate.valid}" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-left" [disabled]="!f.valid">Save</button>
            <button type="button" class="btn btn-secondary btn-right" (click)="cancelGame()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
